 *,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
 }
 .wrapper{
    width: 100vw;
    height: 100vh;

    background-image: url(./new.avif);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;

 }
 .game-info{
      color: rgb(250, 16, 16);
      position: absolute;
      top: 3rem;
      left: 50%;
      font-size: large;
      transform: translateX(-50%);
      background-color:#e9c46a;
      border-radius: 1rem;
      border: 1px solid rgba(255,255,255,0.25);
      padding: 0.5rem 3rem;
      text-align: center;
    }
    .tic-take-toe{
        width: 90%;
        max-width: 20rem;
        background-color: rgba(255,255,255,0.15);
        border-radius: 1rem;
        border: 1px solid rgba(255,255,255,0.25);
        padding:2rem;
        margin-top:0.5rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        aspect-ratio:1/1;
        backdrop-filter: blur(20px);
    }
    .box{
        position:relative;
        width:100% ;
        aspect-ratio: 1/1;
        cursor: pointer;
        font-size: 3rem;
        color: black;
        display: flex;
        justify-content:center ;
        align-items: center;

    }
    .box1,.box2,.box4,.box5{
      border-right: 2px solid whitesmoke ;
      border-bottom: 2px solid whitesmoke;
    }
    .box3 , .box6{
      border-bottom: 2px solid whitesmoke;

    }
    .box7 , .box8{
      border-right: 2px solid whitesmoke ;

    }
    .btn{
      color: rgb(250, 16, 16);
      position: absolute;
      bottom: 2rem;
      left: 50%;
      font-size: large;
      transform: translateX(-50%);
      background-color: #e9c46a;
      border-radius: 1rem;
      border: 1px solid rgba(255,255,255,0.25);
      padding: 0.5rem 2rem;
      text-align: center;
      cursor: pointer;
      /* display:none; */
    }
    
    .btn:active{
      display:flex;
    }

    .win{
      background-color: rgb(13, 231, 148);
    }
    